h1 {
    text-align: center;
    padding: 30px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration-color: blueviolet;
}

body {
    background-color: purple;
    /* display: flex;
    align-items: column; */
} 

#listContainer {
    /* position: absolute; */
    display: flex;
    /* align-items: row; */
}

#list {
    /* position: relative; */
   /* display: flex; */
   list-style-type: none;
    text-align: left;
    justify-content: center;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.buttons {
    display: flex;
    justify-content: flex-end;
    /* position: relative; */
    justify-content: flex-end;
    padding: 3px;
   
}